{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cambiar la contraseña" %} {% endblock %}

{% block content %}
<div class="container">
<div class="col-lg-10">
    <h1>{% trans "Cambiar la contraseña " %} </h1>
    <div class="col-lg-10">
        <form method="POST" action="{% url 'account_change_password' %}" type="password" class="form-label">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary" name="action">{% trans "Cambiar la contraseña" %}</button>
    </form>
    </div>

</div>    
</div>
</div>
{% endblock %}
