django==3.2.16
pillow
psycopg2-binary==2.9.1
django-environ==0.4.5
django-crispy-forms==1.9.1
django-allauth
djangorestframework
markdown 
django-filter
dj-database-url
whitenoise[brotli]
gunicorn
